/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.bcheck {
  border: 2px solid #000;
}

.bg-home-image {
  /* get image from assets folder */
  background-image: url(./assets/img/home-bg-v2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-stakeholders-image {
  /* get image from assets folder */
  background-image: url(./assets/img/stakeholders/stakeholders.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.custom-bg-blockchain-image {
  /* get image from assets folder */
  background-image: url(./assets/img/blockchain-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
}

.contact-page-bg {
  /* get image from assets folder */
  background-image: url(./assets/img/contact/12.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* height: fit-content; */
}
