@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add this line to src/index.css */
@import url('https://unpkg.com/leaflet/dist/leaflet.css');


body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/* Width and Height */
::-webkit-scrollbar {
  width: 15px; /* width of the vertical scrollbar */
  height: 10px; /* height of the horizontal scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; /* color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #65a500; /* color of the scroll thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #65a500; /* color of the scroll thumb on hover */
}
