.bg-home-image {
  /* get image from assets folder */
  background-image: url(./assets/img/home-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-bg-blockchain-image {
  /* get image from assets folder */
  background-image: url(./assets/img/blockchain-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
}